<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="Assignment.project_practice"/>
      <class name="Assignment.heroku_assignment2"/>
      <class name="Assignment.chrome"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
